<% unless @bets.empty? %>

  <h1> Temporada: <%= @year %></h1>

  <table class="<%= controller_name %>-table">

    <thead>
      <th>Posição</th>
      <th>Pontuação</th>
      <th>Usuário</th>
    </thead>

    <tbody>
      <% @bets.each do |key, value|%>
          <tr id="bt-<%= value.id %>">
            <td><%= key %></td>
            <td><%=value.points%> pts</td>
            <td><%=value.user.email%></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>Não existem apostas cadastradas</h1>
<% end %>