<% unless @circuits.empty? %>
  <table class="<%= controller_name %>-table">

    <thead>
      <th>Rodada</th>
      <th>Nome</th>
      <th>Data</th>
      <th>Local</th>
      <th>País</th>
      <th></th>
    </thead>

    <tbody>
      <% @circuits.each do |c|%>
          <tr onclick="<%= circuit_path(c.id) %>" style="cursor: pointer;" class="tr-<%= c.round.to_i%2 %>">

            <td><%=c.round%></td>
            <td><%=c.name%></td>
            <td><%=c.race%></td>
            <td><%=c.local%></td>
            <td><%=c.country%></td>
            <td><%= link_to 'Detalhes', circuit_path(c.id) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  
<% end %>