<%= form_with(model: @bet) do |f| %>

  <h3>Próxima corrida: <%= @next_race.circuit %></h3>

  <%= f.hidden_field :circuit, value: @next_race.id %>
  <%= f.hidden_field :year, value: @year %>
  <%= f.hidden_field :user_id, value: @user %>

  <div>
    <%= f.label :pole_position, 'Pole position' %>
    <%= f.collection_select(:pole_position, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :first, '1ª posição' %>
    <%= f.collection_select(:first, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>
  
  <div>
    <%= f.label :second, '2ª posição' %>
    <%= f.collection_select(:second, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :third, '3ª posição' %>
    <%= f.collection_select(:third, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :fourth, '4ª posição' %>
    <%= f.collection_select(:fourth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>
  
  <div>
    <%= f.label :fifth, '5ª posição' %>
    <%= f.collection_select(:fifth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :sixth, '6ª posição' %>
    <%= f.collection_select(:sixth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :seventh, '7ª posição' %>
    <%= f.collection_select(:seventh, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :eighth, '8ª posição' %>
    <%= f.collection_select(:eighth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :ninth, '9ª posição' %>
    <%= f.collection_select(:ninth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div>
    <%= f.label :tenth, '10ª posição' %>
    <%= f.collection_select(:tenth, FormulaOneDriver.where("year = '2022'"), :code, :name, include_blank: true) %>
  </div>

  <div id="bet-btn">
    <%= f.submit 'Apostar' %>
  </div>
<% end %>