<h1>Resumo da Aposta - <%= @bet.circuit %></h1>
<div style="display: flex;">

  <div class="pole-container">

    <h2>Pole position</h2>
    <h3><%= @pole.name %></h3>

    <div style="display: flex;">
      <%= image_tag "drivers/#{@pole.logo_img}", class: 'logo' %>
      <%= image_tag "drivers/#{@pole.photo_img}", class: 'photo' %>
    </div>

  </div>

  <div class="race-container">
    <h2>Corrida</h2>
    <div style="display: flex;">
      <% @first_drivers.each_with_index do |driver, position| %>
        <div class="first-drivers">

          <div style="display: flex;">
            <%= image_tag "drivers/#{driver.logo_img}", class: 'mini-logo' %>
            <%= image_tag "drivers/#{driver.photo_img}", class: 'mini-photo' %>
          </div>

          <div style="display: flex;">
            <p class="number"><%= position + 1 %></p> <p><%= driver.name %></p>
          </div>
              
        </div>
      <% end %>
    </div>
    
    <table>
      <tbody>

        <% @last_drivers.each_with_index do |driver, position| %>
          <tr>
            <td><%= position + 4 %></td>
            <td><%= image_tag "drivers/#{driver.logo_img}", class: 'mini-logo' %> <%= driver.name%></td>
          </tr>
        <% end %>
      
      </tbody>
    </table> 
    <% if @bet.validated? %>
      <h3>Resultado da aposta: <%= @bet.result_points %> pontos</h3>
    <% else %>
      <h3>O resultado da aposta estará disponível após a corrida!
    <% end %>
  </div>


</div>