<% unless @drivers.empty? %>
<table class="<%= controller_name %>-table">
    <thead>
      <th>Posição</th>
      <th>Pontos</th>
      <th>Vitórias</th>
      <th>Número</th>
      <th>Código</th>
      <th>Nome</th>
      <th>Nacionalidade</th>
      <th>Equipe</th>
      <th>Detalhes</th>
    </thead>

    <tbody>
      <% @drivers.each do |d| %>
        <tr class="tr-<%= d.position.to_i%2 %>">
          <td><%= d.position %></td>
          <td><%= d.points %></td>
          <td><%= d.wins %></td>
          <td><%= d.number %></td>
          <td><%= d.code %></td>
          <td><%= d.first_name %> <%= d.last_name %></td>
          <td><%= d.country %></td>
          <td><%= d.team %></td>
          <td><%= link_to 'Detalhes', driver_path(d.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>