<!DOCTYPE html>
<html>
  <head>
    <title>F1Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="<%= controller_name %>-<%= action_name %>">
    <div style="display: flex; flex-direction: column;">
      <%= render inline: Rails.root.join('app/assets/images/f1-white.svg').read %>
      Web
    </div>
  
  </nav>
    <%= yield %>
  </body>
</html>
